@import "tailwindcss";
:root {
  --card: #fff;
  --card-foreground: #030712;
  --popover: #fff;
  --popover-foreground: #030712;
  --primary: #111827;
  --primary-foreground: #f9fafb;
  --secondary: #f3f4f6;
  --secondary-foreground: #111827;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --accent: #f3f4f6;
  --accent-foreground: #111827;
  --destructive: #ef4444;
  --destructive-foreground: #f9fafb;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #030712;
  --radius: .7rem;
  --text: #18181b;
  --text-disabled: #9f9fa9;
  --bg-surface: #fff;
  --bg-surface-hover: #fff;
  --tier-safe-d: #0034eb;
  --tier-likely-d: #5c7fff;
  --tier-lean-d: #a8bbff;
  --tier-tossup: #9445d9;
  --tier-lean-r: #ffa8aa;
  --tier-likely-r: #f5474a;
  --tier-safe-r: #a80004;
  --color-slide-dots-inactive: var(--neutral-200);
  --color-slide-dots-active: var(--brand-500);
  --gray-50: #fff;
  --gray-100: #f4f4f6;
  --gray-200: #e7e8eb;
  --gray-300: #dfe0e5;
  --gray-400: #d7d9df;
  --gray-500: #a0a3b1;
  --gray-600: #6b6e7a;
  --gray-700: #60626c;
  --gray-800: #565862;
  --gray-900: #1d1f24;
  --alpha-50: #00000003;
  --alpha-100: #0000000a;
  --alpha-200: #00000017;
  --alpha-300: #0000001f;
  --alpha-400: #00000026;
  --alpha-500: #0000005c;
  --alpha-600: #00000091;
  --alpha-700: #0000009e;
  --alpha-800: #000000a6;
  --alpha-900: #000000e0;
  --alpha-black-50: #00000003;
  --alpha-black-100: #0000000a;
  --alpha-black-200: #00000017;
  --alpha-black-300: #0000001f;
  --alpha-black-400: #00000026;
  --alpha-black-500: #0000005c;
  --alpha-black-600: #00000091;
  --alpha-black-700: #0000009e;
  --alpha-black-800: #000000a6;
  --alpha-black-900: #000000e0;
  --alpha-black-950: #000;
  --alpha-white-50: #ffffff05;
  --alpha-white-100: #ffffff0d;
  --alpha-white-200: #ffffff17;
  --alpha-white-300: #ffffff1c;
  --alpha-white-400: #ffffff24;
  --alpha-white-500: #ffffff4a;
  --alpha-white-600: #ffffff7d;
  --alpha-white-700: #ffffff8c;
  --alpha-white-800: #ffffff96;
  --alpha-white-900: #ffffffeb;
  --alpha-white-950: #fff;
  --green-50: #ecf9f1;
  --green-100: #caefd8;
  --green-200: #a8e5be;
  --green-300: #86dba5;
  --green-400: #64d18b;
  --green-500: #42c772;
  --green-600: #30a159;
  --green-700: #237641;
  --green-800: #164b29;
  --green-900: #091f11;
  --blue-50: #e8eefe;
  --blue-100: #becffb;
  --blue-200: #94aff8;
  --blue-300: #6a90f5;
  --blue-400: #4071f3;
  --blue-500: #1652f0;
  --blue-600: #0c3ec1;
  --blue-700: #092d8d;
  --blue-800: #061c58;
  --blue-900: #020b23;
  --red-50: #fcebeb;
  --red-100: #f7c8c8;
  --red-200: #f2a4a4;
  --red-300: #ec8080;
  --red-400: #e75d5d;
  --red-500: #e23939;
  --red-600: #c61d1d;
  --red-700: #951616;
  --red-800: #640f0f;
  --red-900: #330707;
  --yellow-50: #fefcea;
  --yellow-100: #fef9d2;
  --yellow-200: #fef2a5;
  --yellow-300: #fce978;
  --yellow-400: #fade56;
  --yellow-500: #f8d743;
  --yellow-600: #d4ad16;
  --yellow-700: #b18d0f;
  --yellow-800: #8f6e09;
  --yellow-900: #765905;
  --magenta-50: #fffafd;
  --magenta-100: #fef1f9;
  --magenta-200: #fcdef1;
  --magenta-300: #fcd5ed;
  --magenta-400: #fbcbe9;
  --magenta-500: #f476c6;
  --magenta-600: #ee2ba6;
  --magenta-700: #d12392;
  --magenta-800: #a50d6d;
  --magenta-900: #42052c;
  --purple-50: #fdfbfe;
  --purple-100: #f8f2fc;
  --purple-200: #f0e6fa;
  --purple-300: #e9d9f7;
  --purple-400: #e4d0f5;
  --purple-500: #bd8de7;
  --purple-600: #9445d9;
  --purple-700: #853dc3;
  --purple-800: #7a28c2;
  --purple-900: #2d0f48;
  --teal-50: #f5fdff;
  --teal-100: #e1f9fe;
  --teal-200: #b4f1fd;
  --teal-300: #9cecfc;
  --teal-400: #7ee6fc;
  --teal-500: #06b3d6;
  --teal-600: #0595b3;
  --teal-700: #05829c;
  --teal-800: #035f72;
  --teal-900: #01252d;
  --neutral-0: #fff;
  --neutral-25: #f9fafb;
  --neutral-50: #f4f5f6;
  --neutral-100: #e6e8ea;
  --neutral-200: #caced3;
  --neutral-300: #aeb4bc;
  --neutral-400: #939aa5;
  --neutral-500: #77808d;
  --neutral-600: #5f6772;
  --neutral-700: #484e56;
  --neutral-800: #31353a;
  --neutral-900: #1a1c1f;
  --neutral-950: #0e0f11;
  --pink-50: #ff40801d;
  --pink-500: #ff4080;
  --brand-50: #e7edfd;
  --brand-100: #c4d3fb;
  --brand-200: #a1b9f9;
  --brand-300: #7d9ff6;
  --brand-400: #4e7df3;
  --brand-500: #1452f0;
  --brand-600: #1249d8;
  --brand-700: #1041c0;
  --brand-800: #0e39a8;
  --brand-900: #0c3190;
  --surface-1: var(--neutral-0);
  --surface-2: var(--neutral-50);
  --z-drawer: 200;
  --btn-green-bg: var(--color-green-600);
  --btn-light-blue-bg: #ecefff;
}

:root.dark,
:root[data-theme='dark'] {
  --gray-50: #0a0b10;
  --gray-100: #17181c;
  --gray-200: #202227;
  --gray-300: #25262d;
  --gray-400: #2c2e35;
  --gray-500: #4e525f;
  --gray-600: #80838e;
  --gray-700: #8d909a;
  --gray-800: #9b9da7;
  --gray-900: #ecedee;
  --alpha-50: #ffffff05;
  --alpha-100: #ffffff0d;
  --alpha-200: #ffffff17;
  --alpha-300: #ffffff1c;
  --alpha-400: #ffffff24;
  --alpha-500: #ffffff4a;
  --alpha-600: #ffffff7d;
  --alpha-700: #ffffff8c;
  --alpha-800: #ffffff96;
  --alpha-900: #ffffffeb;
  --alpha-black-50: #00000003;
  --alpha-black-100: #0000000a;
  --alpha-black-200: #00000017;
  --alpha-black-300: #0000001f;
  --alpha-black-400: #00000026;
  --alpha-black-500: #0000005c;
  --alpha-black-600: #00000091;
  --alpha-black-700: #0000009e;
  --alpha-black-800: #000000a6;
  --alpha-black-900: #000000e0;
  --alpha-black-950: #000;
  --alpha-white-50: #ffffff05;
  --alpha-white-100: #ffffff0d;
  --alpha-white-200: #ffffff17;
  --alpha-white-300: #ffffff1c;
  --alpha-white-400: #ffffff24;
  --alpha-white-500: #ffffff4a;
  --alpha-white-600: #ffffff7d;
  --alpha-white-700: #ffffff8c;
  --alpha-white-800: #ffffff96;
  --alpha-white-900: #ffffffeb;
  --alpha-white-950: #fff;
  --green-50: #1d3539;
  --green-100: #234f42;
  --green-200: #2a684b;
  --green-300: #308154;
  --green-400: #359a5e;
  --green-500: #3db468;
  --green-600: #5fbe82;
  --green-700: #83c89c;
  --green-800: #a6d2b6;
  --green-900: #c9ddd0;
  --red-50: #2d2833;
  --red-100: #4c2a32;
  --red-200: #6b2d32;
  --red-300: #8b2e32;
  --red-400: #ac3031;
  --red-500: #cb3131;
  --red-600: #d05959;
  --red-700: #d78282;
  --red-800: #daa;
  --red-900: #e2d1d1;
  --blue-50: #1c2f4b;
  --blue-100: #1a366c;
  --blue-200: #193d8d;
  --blue-300: #1744ae;
  --blue-400: #164bcf;
  --blue-500: #1452f0;
  --blue-600: #4475f3;
  --blue-700: #7398f6;
  --blue-800: #a3bcf9;
  --blue-900: #d3dffc;
  --yellow-50: #333c37;
  --yellow-100: #5a5933;
  --yellow-200: #81772e;
  --yellow-300: #a9952a;
  --yellow-400: #d0b226;
  --yellow-500: #f7d022;
  --yellow-600: #f8da52;
  --yellow-700: #fae483;
  --yellow-800: #fcefb5;
  --yellow-900: #fef9e6;
  --magenta-50: #260319;
  --magenta-100: #2f041f;
  --magenta-200: #47062f;
  --magenta-300: #500735;
  --magenta-400: #5a073b;
  --magenta-500: #9c0d67;
  --magenta-600: #ee2ba6;
  --magenta-700: #f84ab2;
  --magenta-800: #f368c0;
  --magenta-900: #fde3f3;
  --purple-50: #180826;
  --purple-100: #230b37;
  --purple-200: #30104c;
  --purple-300: #381259;
  --purple-400: #401565;
  --purple-500: #7225b6;
  --purple-600: #a261e1;
  --purple-700: #ab75e4;
  --purple-800: #b884e6;
  --purple-900: #f0e6fa;
  --teal-50: #011114;
  --teal-100: #01191e;
  --teal-200: #01252d;
  --teal-300: #012e37;
  --teal-400: #02323c;
  --teal-500: #035b6d;
  --teal-600: #0595b3;
  --teal-700: #09a3c3;
  --teal-800: #05aacc;
  --teal-900: #bef3fd;
  --neutral-0: #15191d;
  --neutral-25: #181d21;
  --neutral-50: #1e2428;
  --neutral-100: #242b32;
  --neutral-200: #2e3841;
  --neutral-300: #586879;
  --neutral-400: #697d91;
  --neutral-500: #7b8996;
  --neutral-600: #97a5b4;
  --neutral-700: #afbac5;
  --neutral-800: #bbc4cd;
  --neutral-900: #d2d8df;
  --neutral-950: #dee3e7;
  --surface-1: var(--neutral-25);
  --surface-2: var(--neutral-50);
  --pink-50: #ff40801d;
  --pink-500: #ff4080;
  --brand-50: #132533;
  --brand-100: #112f45;
  --brand-200: #103957;
  --brand-300: #0e446b;
  --brand-400: #0b568d;
  --brand-500: #0093fd;
  --brand-600: #26a3fd;
  --brand-700: #59b9fe;
  --brand-800: #8ccefe;
  --brand-900: #b8e1fe;
  --background: #030712;
  --foreground: #f9fafb;
  --card: #030712;
  --card-foreground: #f9fafb;
  --popover: #030712;
  --popover-foreground: #f9fafb;
  --primary: #f9fafb;
  --primary-foreground: #111827;
  --secondary: #1f2937;
  --secondary-foreground: #f9fafb;
  --muted: #1f2937;
  --muted-foreground: #9ca3af;
  --accent: #1f2937;
  --accent-foreground: #f9fafb;
  --destructive: #7f1d1d;
  --destructive-foreground: #f9fafb;
  --border: #1f2937;
  --input: #1f2937;
  --ring: #d1d5db;
  --text: #e5e5e5;
  --text-disabled: #9f9fa9;
  --bg-surface: #1a1f23;
  --bg-surface-hover: #242b32;
  --tier-lean-d: #85a0ff;
  --tier-likely-d: #3059e8;
  --tier-safe-d: #1231a0;
  --tier-tossup: #9445d9;
  --tier-safe-r: #83070a;
  --tier-likely-r: #d10a0f;
  --tier-lean-r: #f98183;
  --btn-green-bg: var(--color-green-400);
  --btn-light-blue-bg: #1f3050;
}

@layer theme {
    :root, :host {
      --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --font-mono: "Geist Mono", monospace;
      --color-red-50: var(--red-50);
      --color-red-100: var(--red-100);
      --color-red-200: var(--red-200);
      --color-red-300: var(--red-300);
      --color-red-400: var(--red-400);
      --color-red-500: var(--red-500);
      --color-red-600: var(--red-600);
      --color-red-800: var(--red-800);
      --color-orange-500: #fe6e00;
      --color-amber-100: #fef3c6;
      --color-amber-300: #ffd236;
      --color-amber-500: #f99c00;
      --color-amber-700: #b75000;
      --color-amber-900: #7b3306;
      --color-yellow-50: var(--yellow-50);
      --color-yellow-100: var(--yellow-100);
      --color-yellow-200: var(--yellow-200);
      --color-yellow-400: var(--yellow-400);
      --color-yellow-500: var(--yellow-500);
      --color-yellow-600: var(--yellow-600);
      --color-yellow-700: var(--yellow-700);
      --color-yellow-800: var(--yellow-800);
      --color-yellow-900: var(--yellow-900);
      --color-yellow-950: #432004;
      --color-green-50: var(--green-50);
      --color-green-100: var(--green-100);
      --color-green-200: var(--green-200);
      --color-green-300: var(--green-300);
      --color-green-400: var(--green-400);
      --color-green-500: var(--green-500);
      --color-green-600: var(--green-600);
      --color-cyan-500: #00b7d7;
      --color-blue-50: var(--blue-50);
      --color-blue-300: var(--blue-300);
      --color-blue-400: var(--blue-400);
      --color-blue-500: var(--blue-500);
      --color-blue-600: var(--blue-600);
      --color-blue-700: var(--blue-700);
      --color-indigo-500: #625fff;
      --color-purple-500: #ac4bff;
      --color-pink-50: var(--pink-50);
      --color-pink-500: var(--pink-500);
      --color-gray-50: #f9fafb;
      --color-gray-100: #f3f4f6;
      --color-gray-200: #e5e7eb;
      --color-gray-300: #d1d5dc;
      --color-gray-400: #99a1af;
      --color-gray-500: #6a7282;
      --color-gray-600: #4a5565;
      --color-gray-700: #364153;
      --color-gray-800: #1e2939;
      --color-gray-900: #101828;
      --color-zinc-500: #71717b;
      --color-neutral-50: var(--neutral-50);
      --color-neutral-100: var(--neutral-100);
      --color-neutral-200: var(--neutral-200);
      --color-neutral-300: var(--neutral-300);
      --color-neutral-400: var(--neutral-400);
      --color-neutral-500: var(--neutral-500);
      --color-neutral-600: var(--neutral-600);
      --color-neutral-700: var(--neutral-700);
      --color-neutral-800: var(--neutral-800);
      --color-neutral-900: var(--neutral-900);
      --color-neutral-950: var(--neutral-950);
      --color-black: #000;
      --color-white: #fff;
      --spacing: .25rem;
      --container-xs: 20rem;
      --container-sm: 24rem;
      --container-md: 28rem;
      --container-lg: 32rem;
      --container-6xl: 72rem;
      --text-xs: .75rem;
      --text-xs--line-height: calc(1 / .75);
      --text-sm: .875rem;
      --text-sm--line-height: calc(1.25 / .875);
      --text-base: 1rem;
      --text-base--line-height: calc(1.5 / 1);
      --text-lg: 1.125rem;
      --text-lg--line-height: calc(1.75 / 1.125);
      --text-xl: 1.25rem;
      --text-xl--line-height: calc(1.75 / 1.25);
      --text-2xl: 1.5rem;
      --text-2xl--line-height: calc(2 / 1.5);
      --text-3xl: 1.875rem;
      --text-3xl--line-height: calc(2.25 / 1.875);
      --text-4xl: 2.25rem;
      --text-4xl--line-height: calc(2.5 / 2.25);
      --text-5xl: 3rem;
      --text-5xl--line-height: 1;
      --text-6xl: 3.75rem;
      --text-6xl--line-height: 1;
      --font-weight-light: 300;
      --font-weight-normal: 400;
      --font-weight-medium: 500;
      --font-weight-semibold: 600;
      --font-weight-bold: 700;
      --font-weight-extrabold: 800;
      --font-weight-black: 900;
      --tracking-tight: -.025em;
      --tracking-normal: 0em;
      --tracking-wide: .025em;
      --tracking-wider: .05em;
      --tracking-widest: .1em;
      --leading-tight: 1.25;
      --leading-snug: 1.375;
      --leading-normal: 1.5;
      --leading-relaxed: 1.625;
      --radius-xs: calc(var(--radius) - 6px);
      --radius-sm: calc(var(--radius) - 4px);
      --radius-md: calc(var(--radius) - 2px);
      --radius-lg: var(--radius);
      --radius-xl: calc(var(--radius) + 4px);
      --radius-2xl: 1rem;
      --radius-3xl: 1.5rem;
      --shadow-md: 0 8px 16px #0000000f;
      --drop-shadow-md: 0 3px 3px #0000001f;
      --drop-shadow-xl: 0 9px 7px #0000001a;
      --ease-out: cubic-bezier(0, 0, .2, 1);
      --ease-in-out: cubic-bezier(.4, 0, .2, 1);
      --animate-spin: spin 1s linear infinite;
      --animate-ping: ping 1.5s cubic-bezier(0, 0, .2, 1) infinite;
      --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
      --blur-sm: 8px;
      --blur-md: 12px;
      --blur-lg: 16px;
      --aspect-video: 16 / 9;
      --default-transition-duration: .15s;
      --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      --default-font-family: var(--font-sans);
      --default-mono-font-family: var(--font-mono);
      --color-transparent: transparent;
      --color-alpha-100: var(--alpha-100);
      --color-alpha-black-200: var(--alpha-black-200);
      --color-alpha-black-500: var(--alpha-black-500);
      --color-alpha-black-600: var(--alpha-black-600);
      --color-alpha-white-500: var(--alpha-white-500);
      --color-alpha-white-800: var(--alpha-white-800);
      --color-neutral-0: var(--neutral-0);
      --color-neutral-25: var(--neutral-25);
      --color-brand-50: var(--brand-50);
      --color-brand-100: var(--brand-100);
      --color-brand-200: var(--brand-200);
      --color-brand-300: var(--brand-300);
      --color-brand-400: var(--brand-400);
      --color-brand-500: var(--brand-500);
      --color-brand-600: var(--brand-600);
      --color-brand-800: var(--brand-800);
      --color-brand-900: var(--brand-900);
      --color-background: var(--color-neutral-0);
      --color-surface-1: var(--surface-1);
      --color-surface-2: var(--surface-2);
      --color-bg-brand: var(--color-brand-500);
      --color-bg-brand-hover: var(--color-brand-600);
      --color-text-brand: var(--color-brand-500);
      --color-text-brand-hover: var(--color-brand-600);
      --color-text-primary: var(--color-neutral-950);
      --color-text-secondary: var(--color-neutral-500);
      --color-text-tertiary: var(--color-neutral-300);
      --color-text-disabled: var(--color-neutral-300);
      --color-text-inverse: var(--color-neutral-0);
      --color-border: var(--color-neutral-100);
      --color-border-hover: var(--color-neutral-200);
      --color-border-active: var(--color-neutral-300);
      --color-border-brand: var(--color-brand-500);
      --color-button-primary-bg: var(--color-bg-brand);
      --color-button-primary-bg-hover: var(--color-bg-brand-hover);
      --color-button-primary-text: var(--color-white);
      --color-button-secondary-bg: var(--color-neutral-100);
      --color-button-secondary-bg-hover: var(--color-neutral-200);
      --color-button-secondary-text: var(--color-text-primary);
      --color-button-tertiary-bg: var(--color-neutral-50);
      --color-button-tertiary-bg-hover: var(--color-neutral-100);
      --color-button-tertiary-text: var(--color-text-primary);
      --color-button-ghost-bg: var(--color-transparent);
      --color-button-ghost-bg-hover: var(--color-neutral-50);
      --color-button-ghost-text: var(--color-text-primary);
      --color-button-ghost-accent-bg-hover: var(--color-neutral-100);
      --color-button-outline-text: var(--color-text-primary);
      --color-button-outline-border: var(--color-border);
      --color-button-link-text: var(--color-text-brand);
      --color-button-link-text-hover: var(--color-text-brand-hover);
      --color-input-filled-bg: var(--color-neutral-50);
      --color-input-outlined-bg: var(--color-transparent);
      --color-input-outlined-border: var(--color-border);
      --color-textarea-filled-bg: var(--color-neutral-50);
      --color-textarea-filled-bg-hover: var(--color-neutral-100);
      --color-textarea-filled-text-placeholder: var(--color-text-secondary);
      --color-textarea-bg-surface: var(--color-neutral-50);
      --color-textarea-bg-surface-active: var(--color-neutral-100);
      --color-tabs-highlight-bg: var(--color-neutral-100);
      --color-tabs-underline-bg: var(--color-bg-brand);
      --color-tabs-text: var(--color-text-secondary);
      --color-tabs-text-hover: var(--color-text-primary);
      --color-tabs-text-active: var(--color-text-primary);
      --color-pagination-bg-hover: var(--color-neutral-50);
      --color-pagination-bg-active: var(--color-bg-brand);
      --color-pagination-text: var(--color-text-primary);
      --color-pagination-text-muted: var(--color-text-secondary);
      --color-pagination-text-hover: var(--color-text-primary);
      --color-pagination-text-active: var(--color-white);
      --color-pagination-text-disabled: var(--color-text-disabled);
      --color-badge-default-bg: var(--color-neutral-50);
      --color-badge-default-text: var(--color-text-secondary);
      --color-badge-success-bg: var(--color-green-50);
      --color-badge-success-text: var(--color-green-600);
      --color-badge-warning-bg: var(--color-yellow-50);
      --color-badge-warning-text: var(--color-yellow-600);
      --color-badge-error-bg: var(--color-red-50);
      --color-badge-error-text: var(--color-red-600);
      --color-badge-info-bg: var(--color-blue-50);
      --color-badge-info-text: var(--color-blue-600);
      --color-checkbox-bg: var(--color-transparent);
      --color-checkbox-bg-active: var(--color-bg-brand);
      --color-checkbox-border: var(--color-border-hover);
      --color-checkbox-border-hover: var(--color-neutral-100);
      --color-checkbox-text: var(--color-white);
      --color-checkbox-border-active: var(--color-transparent);
      --color-popover-bg: var(--color-background);
      --color-popover-text: var(--color-text-primary);
      --color-popover-border: var(--color-border);
      --color-tooltip-bg: var(--color-surface-1);
      --color-tooltip-text: var(--color-text-primary);
      --color-tooltip-border: var(--color-surface-2);
      --color-skeleton-bg: var(--color-neutral-50);
      --color-label-text: var(--color-text-primary);
      --color-surface: var(--color-neutral-50);
      --color-surface-hover: var(--color-neutral-100);
      --color-tertiary: var(--color-neutral-300);
      --color-element-bg: var(--color-neutral-50);
      --color-element-bg-2: var(--color-neutral-100);
      --color-element-border: var(--color-neutral-100);
      --color-accent-bg: var(--color-neutral-600);
      --color-text: var(--text);
      --color-foreground: var(--foreground);
      --color-primary: var(--primary);
      --color-primary-foreground: var(--primary-foreground);
      --color-secondary: var(--secondary);
      --color-muted: var(--muted);
      --color-muted-foreground: var(--muted-foreground);
      --color-accent: var(--accent);
      --color-accent-foreground: var(--accent-foreground);
      --color-destructive: var(--destructive);
      --color-input: var(--input);
      --color-ring: var(--ring);
      --font-inter: "Inter", sans-serif;
      --animate-accordionSlideDown: accordionSlideDown .2s cubic-bezier(.26, .08, .25, 1) forwards;
      --animate-accordionSlideUp: accordionSlideUp .2s cubic-bezier(.26, .08, .25, 1) forwards;
      --animate-collapsibleSlideDown: collapsibleSlideDown .2s cubic-bezier(.26, .08, .25, 1) forwards;
      --animate-collapsibleSlideUp: collapsibleSlideUp .2s cubic-bezier(.26, .08, .25, 1) forwards;
      --animate-popoverSlideUpAndFadeIn: popoverSlideUpAndFadeIn .2s cubic-bezier(.16, 1, .3, 1) forwards;
      --animate-popoverSlideDownAndFadeIn: popoverSlideDownAndFadeIn .2s cubic-bezier(.16, 1, .3, 1) forwards;
      --animate-popoverSlideUpAndFadeOut: popoverSlideUpAndFadeOut .2s cubic-bezier(.16, 1, .3, 1) forwards;
      --animate-popoverSlideDownAndFadeOut: popoverSlideDownAndFadeOut .2s cubic-bezier(.16, 1, .3, 1) forwards;
      --animate-popoverSlideRightAndFadeIn: popoverSlideRightAndFadeIn .2s cubic-bezier(.16, 1, .3, 1) forwards;
      --animate-popoverSlideLeftAndFadeIn: popoverSlideLeftAndFadeIn .2s cubic-bezier(.16, 1, .3, 1) forwards;
      --animate-popoverSlideRightAndFadeOut: popoverSlideRightAndFadeOut .2s cubic-bezier(.16, 1, .3, 1) forwards;
      --animate-popoverSlideLeftAndFadeOut: popoverSlideLeftAndFadeOut .2s cubic-bezier(.16, 1, .3, 1) forwards;
      --animate-maskShimmer: maskShimmer 3s linear infinite;
      --animate-slightBounce: slightBounce 2s ease-in-out infinite;
      --animate-scaleHorizontal: scaleHorizontal 2s ease-in-out infinite;
      --animate-verticalSlide: verticalSlide 2s linear infinite;
      --animate-rotateOnce: rotateOnce .3s ease-out both;
      --animate-aurora: aurora 60s linear infinite;
      --animate-fadeIn: fadeIn .8s ease-in-out;
      --animate-like: like .3s ease-in-out forwards;
      --animate-unlike: unlike .17s ease-in-out reverse forwards;
      --font-sauce: "Open Sauce One", sans-serif;
    }
}


@layer base {
  body {
    background-color: var(--color-background);
    --lightningcss-light: initial;
    --lightningcss-dark: ;
    color-scheme: light dark;
    color: var(--color-text);
  }
}
